cincodias/data/
elpais/data/
expansion/data/
boe/data/
accounts/data/
accounts/unzip/
stocks/data/
settings.py
*.txt
*.html
*.csv
!accounts/biz_meta_regex.csv
!accounts/stats_table.csv
!accounts/sector_members.csv
!accounts/short_long.csv
*.pyc